//META{"name":"firewatch","description":"Enjoy Yitz","author":"Vokay","version":"1.0"}*//{}
      @import url(https://bitbucket.org/Vokay/background/src/f2d4ff0fc48e4ccd0cd329e9c6aac5564fbc0d96/background.css);
      
      :root {
      	--transparencycolor: 0,0,0;		/* default: 0,0,0 */
      	--transparencyalpha: 0.15;		/* default: 0.15 */
      	--messagetransparency: 0.5;		/* default: 0.5 */
      	--memberlistransparency: 0;		/* default: 0 (additional darkness for member list can be changed in case a bright background makes the list hard to read)*/
      	--accentcolor: 190,78,180; 		/* default: 190,78,180 discord: 114,137,218 bd-blue: 58,113,193*/
      	--background: url(https://images8.alphacoders.com/679/679478.jpg); /* replace the link in url() with your own direct image link to change the background */
      	--backdrop: rgba(0,0,0,0.4);	/* default: rgba(0,0,0,0.4) can also be changed to an image like --background */
      }
